<div class="leaderboards">  
    {{!-- Stats --}}
    <h4 class="leaderboards-message">{{user.username}}'s Game Stats</h4>
    {{#if logged_in}}
    {{#if stats.totalGames}}
    <div>
        <ul class="stats-list">
            <li>Wins: {{stats.wins}}</li>
            <li>Losses: {{stats.losses}}</li>
            <li>Average Score: {{stats.avgScore}}</li>
            <li>Best Score: {{stats.bestScore}}</li>
            <li>Worst Score: {{stats.worstScore}}</li>
            <li>Immediate Losses: {{stats.immediateLosses}}</li>
        </ul>
    </div>
    {{else}}
    <h4 class="leaderboards-message">{{user.username}} hasn't played any games!</h4>
    {{/if}}
    {{/if}}

    {{!-- Leaderboard --}}
    <h4 class="leaderboards-message">Global Leaderboard</h4>
    <div class="leaderboard-container">
        <div class="leaders-container">
            <div class="leaderboard-line stats-headers">
                <div class="leaderboard-headers">User</div>
                <div class="leaderboard-headers">Score</div>
                <div class="leaderboard-headers">Date</div>
            </div>
            {{#each leaders}}
            <div class="leaderboard-line">
                <div>#{{plusOne @index}}:   {{user.username}}</div>
                <div>{{score}}</div>
                <div>{{format_date created_at}}</div>
            </div>
            {{/each}}
        </div>
    </div>
</div>  





