<h2 class= "lb-title">LEADERBOARDS</h2>
<br>
<h4>Welcome {{user.username}}!</h4>
<br>
{{!-- Stats --}}
{{stats.avgScore}}
{{!-- Leaderboard --}}
    <div class= "pure-control-group">
    {{#each leaders}}
        <div>
            {{username}}
            {{score}}
            {{created_at}}
        </div>
    {{/each}}
    </div>



