<h2 class= "lb-title">LEADERBOARDS</h2>
<br>
<br>
{{!-- Stats --}}
{{#if logged_in}}
{{#if stats.totalGames}}
<div>
    <h4>{{user.username}} Game Stats</h4>
    <ul>
        <li>{{stats.wins}}</li>
        <li>{{stats.losses}}</li>
        <li>{{stats.avgScore}}</li>
        <li>{{stats.bestScore}}</li>
        <li>{{stats.worstScore}}</li>
        <li>{{stats.immediateLosses}}</li>
    </ul>
</div>
{{else}}
<h4>{{user.username}} hasn't played any games!</h4>
{{/if}}
{{/if}}

{{!-- Leaderboard --}}
<div>
    <h4>Global Leaderboard</h4>
{{#each leaders}}
    <div>
        {{user.username}}
        {{score}}
        {{format_date created_at}}
    </div>
{{/each}}
</div>





