<h2 class= "lb-title">LEADERBOARDS</h2>

<h4>Welcome {{user.username}}!</h4>

{{!-- Stats --}}
{{#if stats.totalGames}}
<div>STATS GO HERE</div>
{{else}}
<div>{{user.username}} has not played any games yet!</div>
{{/if}}

{{!-- Leaderboard --}}
<div class= "pure-control-group">
{{#each leaders}}
    <div>
        {{user.username}}
    </div>
    <div>
        {{score}}
    </div>
    <div>
        {{format_date created_at}}
    </div>
{{/each}}
</div>



